@{
 //   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanku</title>
</head>
<body>
    <div>
        <h3>Thank You </h3>
        for signing up you can login with you Email and password
        here

        


    </div>
</body>
</html>
