@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Welcome to Admin Pannel</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4" style="color:#0000FF">
            </div>
            <div class="col-md-4">
                <a href="/Admin/ManageProducts">
                    <input style="font-family:monospace" type="button" value="Manage Products" class="btn btn-success" />
                </a>
                <br />
               

            </div>
            </div>
        </div>
                <

</body>
</html>
