@{
    //Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>

</head>

<body>
    <h1>Men  products</h1>
    <div class="row">
        <div class="col-md-12">

            

            @foreach (var v in Model)
            {
                  <div class="col-md-4">
                    <div class="panel img-rounded col-md-9 " style="margin: 40px; background: #BFDAE1; ">
                        <div class="panel-body img-rounded" style="background: #80B5BD;"><p><h5>Name: @v.Name </h5></p></div>
                        <img src="/ProductData/img_@(v.Id).jpg" class=" img-circle" style=" height:200px; width:300;">
                        <p>Brand: @v.Brand</p>
                        <p><h4>Rs: @v.Price </h4></p>
                        <a href="/HomePage/Details/@v.Id"> <button type="submit" class="btn btn-success">View Details</button></a>
                    </div>
                </div>
            }
        </div>
    </div>
    <h1> Shopping centere      </h1>
</body>



</html>
